# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# url: 'https://api.themoviedb.org/3/authentication',
#   headers: {
#     accept: 'application/json',
#     Authorization: 'Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI2MmU3NmI4MTA5M2RlNGYxZjhmMDhmZjVhNzRiNGFlNyIsIm5iZiI6MTcyODg4NDczOC44OTEsInN1YiI6IjY3MGNiMDAyZjU4YTkyMDZhYTQxNDQ2ZiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.06wzyPYe7VA_uOEjbkC7jpwcOk-Ay9ubpbOGEcqSJHA'
#   }


# API Read Access Token
# eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI2MmU3NmI4MTA5M2RlNGYxZjhmMDhmZjVhNzRiNGFlNyIsIm5iZiI6MTcyODg4NDczOC44OTEsInN1YiI6IjY3MGNiMDAyZjU4YTkyMDZhYTQxNDQ2ZiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.06wzyPYe7VA_uOEjbkC7jpwcOk-Ay9ubpbOGEcqSJHA
# API Key
# 62e76b81093de4f1f8f08ff5a74b4ae7
